link(href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
link(href="/css/base.css", rel='stylesheet')
// 引入静态资源路径要正确， css前的/不能少
script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")