// 公共模块
doctype html
html(lang="en")
    head
        meta(charset="utf8")
        title #{title}
        include includes/head
    body
        include includes/header
        block content

